/* Estilos para el contenedor principal */
.cuerpo {
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 20px;
    background-color: #f8f9fa; /* Fondo suave */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil para un efecto de profundidad */
}

/* Estilos para el contenedor del perfil */
.profile-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px; /* Separación con el siguiente contenido */
    padding: 20px;
    background-color: #ffffff; /* Fondo blanco para el contenedor del perfil */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

/* Estilos para la imagen de perfil */
.profile-image {
    width: 150px; /* Tamaño de la imagen reducido */
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
    border: 4px solid #D251BF; /* Borde sutil alrededor de la imagen */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra alrededor de la imagen */
}

/* Estilos para el texto del perfil */
.profile-text {
    font-size: 24px;
    color: #343a40;
    font-weight: 500;
}

/* Estilos para el párrafo de presentación */
.cuerpo2 {
    font-size: 18px;
    color: #555555; /* Color más suave */
    line-height: 1.6; /* Espaciado entre líneas */
    margin-top: 20px;
    text-align: justify; /* Justificado para un aspecto más limpio */
    padding: 20px;
    background-color: #00000050; /* Fondo blanco para el texto */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}

#footer {
    background-color: #D251BF;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0; /* Asegura que se alinee correctamente */
    z-index: 1000; /* Asegura que el footer esté por encima del contenido */
}

